
<div id="main-container" class="container">
	<div class="row" id="answering-top">
		<div id="answering-top-fixed">
			<div class="col-xs-3 upvote-block">
				<div style="font-size:1.2em;" id="answer-block">
					<i class="fa fa-arrow-up"></i>
					<div class="upvotes">
						<%=@question.upvotes%>
					</div>
					<div class="upvote-label">want to</div>
					<div class="upvote-label">know</div>
				</div>
				<div class="settings">
					<i class="fa fa-cog"></i>
				</div>
			</div>
			<div class="col-xs-9 big-question-text">
				<%=@question.text%>
			</div>
		</div>
	</div>
	<a href="/answers/new/<%="#{@question.id}"%>#answering-top-fixed">

		<div class="row">
				<div id="write-answer">
					Write answer
				</div>
		</div>
	</a>

	<div class="answer-index">
		<%if @answers%>
			<%@answers.each do |answer|%>
				<div class="row text-tile">

					<%if answer.upvoted%>
						<a href="/answers/downvote/<%=answer.id%>">
							<div class="col-xs-3 upvote-block" id="<%="#{answer.id}"%>">
								<i class="fa fa-arrow-up"></i>
								<div class="upvotes-green">
									<%=answer.upvotes%>
								</div>
								<div class="upvote-label-green">found this</div>
								<div class="upvote-label-green">helpful</div>
							</div>
						</a>
					<%else%>
					<a href="/answers/upvote/<%=answer.id%>">
							<div class="col-xs-3 upvote-block" id="<%="#{answer.id}"%>">
								<i class="fa fa-arrow-up"></i>
								<div class="upvotes">
									<%=answer.upvotes%>
								</div>
								<div class="upvote-label">found this</div>
								<div class="upvote-label">helpful</div>
							</div>
						</a>
					<%end%>
					<div class="col-xs-8 text-tile-text">
						<%=answer.text%>
					</div>
					<a href="/answers/edit_options/<%=answer.id%>">
						<div class="col-xs-1 forward">
							<%if answer.user_id==session[:user_id]%>
								<i class="fa fa-cog answer-cog-green"></i>
							<%else%>
								<i class="fa fa-cog answer-cog"></i>
							<%end%>
						</div>
					</a>
				</div>
			<%end%>
		<%else%>
			<div class="row text-tile">

				
				<div class="col-xs-12 question-text">
					No answers yet!
				</div>

			</div>
		<%end%>
	</div>
</div>
