
@import "bootstrap";

#ask-box{
	rows:5;
}
#home-ask-button{
	width:100%;
	background-color:#008210;
}
#question-status{
	text-align:right; 
	margin-bottom:0em;

}
#above-question-text{
	margin-top:.3em;
}

.question{
	font-size:1.2em;
	border-top:1px;
	border-bottom:1px solid #D8D8D8;
	height:5em;
}
.question-text{
	padding:.2em;
}
.upvotes{


}